/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

main {
	padding-bottom: 90px;
}


nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
    font-family: "Work Sans";
}

.nav-menu li:hover {
    color: black;
    font-weight: bold;
    font-family:"Work Sans";
}

li:hover{
    color: black;
}

#log-in {
	width: 50%;
margin: auto;
}
#log-in > * {
	text-align: center;

}
#log-in h2{
	margin-bottom: 20px;
}
#log-in form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#log-in input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#log-in label {
	margin: 2em 0 1em 0;
}
#log-in textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#portfolio h2 {
    text-align: center;
    margin-bottom: 90px;
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

.forgot-password{
	text-decoration: underline;
}